@import "global.css";

html {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    margin: 1rem auto;
    max-width: 800px;
    min-width: 375px;
}

/* nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 25px;
}

.read-button {
    height: max-content;
    color: var(--dark-grayish-blue);
    cursor: pointer;
}

/* list of notifications */
.msg-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
}

.message {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 10px;
    min-height: 70px;
}

.read {
    background-color: var(--very-light-grayish-blue);
}

.profile-pic img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
}

.msg-query {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

.photo-msg {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.photo {
    grid-row: span 2;
    margin-right: 15px;
}

.photo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.text {
    color: var(--dark-grayish-blue);
}

.name {
    font-weight: 800;
    color: var(--very-dark-blue);
    cursor: pointer;
}

.post {
    font-weight: 800;
    cursor: pointer;
}

.group {
    color: var(--blue);
    font-weight: 800;
    cursor: pointer;
}

.time {
    color: var(--grayish-blue);
}

.private-msg {
    border: 2px solid var(--light-grayish-blue2);
    border-radius: 5px;
    padding: 15px;
    color: var(--dark-grayish-blue);
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
}

/* on hover components */
.read-button:hover,
.name:hover,
.post:hover {
    color: var(--blue);
}

.private-msg:hover {
    background-color: var(--light-grayish-blue2);
}

.photo img:hover {
    box-shadow: 0 0 10px 1px var(--light-grayish-blue2);
}

/* attributions */
.attribution {
    text-align: center;
    margin: 3rem auto;
}